{% extends "base_analyzer.html" %}
{% from "doji_analyzer/components/candlestick.html" import candlestick_visualization %}
{% from "doji_analyzer/components/pattern_params.html" import pattern_params %}

{% block title %}TradingHub - Doji Pattern Detector{% endblock %}

{% set pattern_name = "Doji" %}

{% block pattern_params %}
    {{ pattern_params() }}
{% endblock %}

{% block candlestick_visualization %}
    {{ candlestick_visualization() }}
{% endblock %}

{% block additional_form_fields %}
    <!-- Doji-specific form fields can be added here if needed -->
{% endblock %}

{% block pattern_scripts %}
    <!-- Doji-specific JavaScript -->
    <script type="module" src="/static/js/modules/doji-strategy/index.js"></script>
{% endblock %}
